.App {
  text-align: center;
}

.App-logo {
  height: 50px;
}

.App-header {
  background-color: #F3E4D0;
  height: 50px;
  color: white;
  text-align: left;
  border-bottom: #bf0000 .25em solid;
  padding: 1em;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.card, .deck img.art {
  display: inline-block;
  height: 14em;
  width: 10em;
  border: 1px #000 solid;
  border-radius: .75em;
  overflow: visible;
}

.art {
  border: 1px #000 solid;
  border-radius: .75em;
}

*:hover {
  z-index: 2;
}
.card .thumb:hover {
  overflow: visible;
}
.thumb {
	float:left; /* must be floated for same cross browser position of larger image */
	position:relative;
}
.thumb:hover {
	border:0; /* IE6 needs this to show large image */
}
.thumb .bigArt { 
	position:absolute;
  visibility:hidden;
  height:24.5em;
  width:17.5em;
}
.thumb:hover .bigArt { 
	visibility: visible;
  top:-4.75em;
  left:-3.75em; 
  border: 1px #000 solid;
  border-radius: 1.5em;
}



.actionButtons {
  display: none;
  position: absolute;
  right: 0;
  bottom: 0;
}

.actionButtons.farside {
  margin-bottom: 9.5em;
  margin-right: 5.5em;
}

.actionButtons.displayAlways {
  display: block;
}

.game {
  position: relative;
}

.selection {
  display: none;
}

.selection.visible {
  display: block;
}

.actionButton {  
  height: 4.5em;
  width: 4.5em;
  cursor: pointer;
}

.bigAbort {
  position: absolute;
  height: 1em;
  width: 1em;
  background: indianred;
  border-radius: 2em;
  border: 1px solid black;
}

.erased .spacer {
  height: 3px;
}

.scorePile, .fading {
  margin: 0 2em;
}

.scorePile .spacer {
  height: 3em;
}

.scorePile .spacer:nth-of-type(1) {
  margin-top: -2em;
}

div.rotate90 + .actionButtons, div.rotate270 + .actionButtons {
  right: -2em;
  bottom: 2em;
}

div:hover + .actionButtons,
 .actionButtons:hover,
  div:hover + .actionButtons + .actionButtons.farside, 
  .actionButtons:hover + .actionButtons.farside {
  display: inline-block;
}

.deck img.art {
  border: 2.5px #000 solid;
}

.card img.art, .deck img.art {
  height: 14em;
  width: 10em;
}

.wide {  
  min-width: 14em;
}

.paradox {
  margin-left: 2em;
}

.rotate0 {
  transform: rotate(0deg);
}

.rotate90 {
  transform: rotate(90deg);
}

.rotate180 {
  transform: rotate(180deg);
}

.rotate270 {
  transform: rotate(270deg);
}

fieldset {
  display: inline;
  border: none;  
  vertical-align: top;
}

.inline {
  display: inline;
}

.relative {
  position: relative;
}

/* CSS Modal
// ----------------------
// taken from https://codepen.io/LFeh/pen/oEula
// ---------------------- */
body {
  color: #333333;
  font-family: 'Helvetica', arial;
}
.wrap {
  padding: 40px;
  text-align: center;
}
hr {
  clear: both;
  margin-top: 40px;
  margin-bottom: 40px;
  border: 0;
  border-top: 1px solid #aaaaaa;
}
h1 {
  font-size: 30px;
  margin-bottom: 40px;
}
p {
  margin-bottom: 20px;
}
.btn {
  background: #428bca;
  border: #357ebd solid 1px;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  padding: 8px 15px;
  text-decoration: none;
  text-align: center;
  min-width: 60px;
  position: relative;
  transition: color .1s ease;
}
.btn:hover {
  background: #357ebd;
}
.btn.btn-big {
  font-size: 18px;
  padding: 15px 20px;
  min-width: 100px;
}
.btn-close {
  color: #aaaaaa;
  font-size: 30px;
  text-decoration: none;
  position: absolute;
  right: 5px;
  top: 0;
}
.btn-close:hover {
  color: #919191;
}
.modal:before {
  content: "";
  display: none;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}
.modal.target:before {
  display: block;
}
.modal.target .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  top: 20%;
}
.modal-dialog {
  background: #fefefe;
  border: #333333 solid 1px;
  border-radius: 5px;
  margin-left: -200px;
  position: fixed;
  left: 50%;
  top: -100%;
  z-index: 11;
  width: 360px;
  -webkit-transform: translate(0, -500%);
  -ms-transform: translate(0, -500%);
  transform: translate(0, -500%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.modal-body {
  padding: 20px;
}
.modal-header,
.modal-footer {
  padding: 10px 20px;
}
.modal-header {
  border-bottom: #eeeeee solid 1px;
}
.modal-header h2 {
  font-size: 20px;
}
.modal-footer {
  border-top: #eeeeee solid 1px;
  text-align: right;
}
